
<h4>REGISTRO EXITOSO EN ENLIVEN WEB</h4>

<h4>Su registro en nuestra base de datos se ha efectuado con &eacute;xito!</h4>

<p>
    Su usuario de ingreso a la web es el email ingresado.
</p>

<p>Email:  {{ email }} </p>
<br/>

<p>
Usted podr&aacute; consultar o reservar de forma directa nuestros productos y servicios. <br/>
Una ves realice sus reservas, nuestro equipo de trabajo se pondr&aacute; en contacto con usted,
por v&iacute;a tel&eacute;fonica o correo electr&oacute;nico, seg&uacute;n los datos de contacto que haya ingresado.
</p>

<p>
    Gracias por confiar en nosotros y formar parte de nuestro excelente grupo de clientes.
</p>
<br/>
<p style="font-family: 'Nella Sue Demo'; font-size: 17px;">
    EnLiven Team
</p>
