
<h4>RESERVA DE SERVICIOS - SPA ENLIVEN WEB</h4>

<h4>Se ha confirmado con exito la reserva de un servicio en nuestra base de datos</h4>

<p> User: {{ reserva.registro.email }}</p>
<p> Servicio: {{ reserva.servicio.nombre_compuesto }}</p>
<p> Fecha aprox.: {{ reserva.fecha_servicio|date:'d-m-Y' }}</p>

<br/>
<p>
    Gracias por preferirnos y formar parte de nuestro excelente grupo de usuarios.<br/>
    Le estaremos contactando en la mayor brevedad posible.
</p>

<br/>
<p style="font-family: 'Nella Sue Demo'; font-size: 17px;">
    EnLiven Team
</p>
