
<h4>RESERVA DE PRODUCTOS - SPA ENLIVEN WEB</h4>

<h4>Se ha confirmado con exito la reserva de un producto en nuestra base de datos</h4>

<p> User: {{ reserva.registro.email }}</p>
<p> Producto: {{ reserva.producto.nombre_compuesto }} </p>
<p> Cantidad: {{ reserva.cantidad|floatformat:0 }}</p>

<br/>
<p>
    Gracias por preferirnos y formar parte de nuestro excelente grupo de usuarios.<br/>
    Le estaremos contactando en la mayor brevedad posible.
</p>

<br/>
<p style="font-family: 'Nella Sue Demo'; font-size: 17px;">
    EnLiven Team
</p>
