<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en-US"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en-US"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en-US"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en-US"><![endif]-->
<head>
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="WEB SPA Enliven Ecuador" />

    <link rel="shortcut icon" href="/static/images/favicon.png">

    <link rel='stylesheet' id='ct_font_awesome-css'  href='/static/css/font-awesome.css' type='text/css' media='all' />
    <link rel='stylesheet' id='base-css'  href='/static/css/base.css' type='text/css' media='screen, projection' />
    <link rel='stylesheet' id='layout-css'  href='/static/css/layout.css' type='text/css' media='screen, projection' />

    {#  GMWEB CSS      #}
    <link rel="stylesheet" type="text/css" href="/static/css/othr/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/othr/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/othr/woc-woocommerce.css" />
    <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="/static/css/othr/pluton-ie7.css" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/css/othr/animate.css" />
    {#  End GMWEB CSS  #}

    {#  GMWEB JS  #}
    <script type='text/javascript' src='/static/js/jquery.min.js'></script>
    <script type="text/javascript" src="/static/js/othr/jquery.mixitup.js"></script>
    <script type="text/javascript" src="/static/js/othr/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/othr/modernizr.custom.js"></script>
    <script type="text/javascript" src="/static/js/othr/jquery.bxslider.js"></script>
    <script type="text/javascript" src="/static/js/othr/jquery.cslider.js"></script>
    <script type="text/javascript" src="/static/js/othr/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/static/js/othr/jquery.inview.js"></script>
    <script type="text/javascript" src="/static/js/othr/jquery.blockUI.min.js"></script>
    <!--[if lt IE 9]>
        <script src="/static/js/othr/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/static/js/othr/app.js"></script>
    {#  End GMWEB JS  #}

    <script>
        $(function(){

            $("#btnGoLogin").click(function(){
                $("#alertok").hide();
                $("#btnGoLogin").hide();
                $("#alertinfo").hide();
                $("#alertbad").hide();
                $("#form_register").hide();
                $("#form_login").show();
                return false;
            });

            inicializar_form_login = function(){
                $("#login_email").val("");
                $("#login_password").val("");
                $("#help-text-error_email").hide();
                $("#help-text-error_password").hide();
                $("#help-text-login_email").hide();
                $("#help-text-login_password").hide();
                return false;
            };

            inicializar_form_login();

            inicializar_form_register = function(){
                $("#register_email").val("");
                $("#register_password").val("");
                $("#celular").val("");
                $("#convencional").val("");
                $("#span_email").html("");
                return false;
            };

            $("#btnFormRegister").click(function () {
                inicializar_form_register();
                $("#alertok").hide();
                $("#btnGoLogin").hide();
                $("#alertinfo").hide();
                $("#alertbad").hide();
                $("#form_register").show();
                $("#form_login").hide();
                return false;
            });

            $("#btnRegister").click(function(){
                var email = $("#register_email").val();
                var password = $("#register_password").val();
                var celular = $("#celular").val();
                var convencional = $("#convencional").val();
                var datosOk = true;
                if (!email || email == ""){
                    $("#help-text-register_email").show();
                    $("#help-text-register_password").hide();
                    $("#alertok").hide();
                    $("#btnGoLogin").hide();
                    $("#alertinfo").hide();
                    $("#alertbad").hide();
                    datosOk = false;
                }
                if (!password || password == ""){
                    $("#help-text-register_password").show();
                    $("#help-text-register_email").hide();
                    $("#alertok").hide();
                    $("#btnGoLogin").hide();
                    $("#alertinfo").hide();
                    $("#alertbad").hide();
                    datosOk = false;
                }
                if (datosOk){
                    $.ajax({
                        type: "POST",
                        url: "/register",
                        data: {'email': email, 'pass': password, "celular": celular, "convencional": convencional},
                        success: function(data) {
                            if (data.result == 'ok') {
                                inicializar_form_register();
                                $("#alertok").show();
                                $("#btnGoLogin").show();
                                $("#alertinfo").show();
                                $("#alertbad").hide();
                                $("#span_email").html(data.user);
                            }else{
                                $("#alertok").hide();
                                $("#btnGoLogin").hide();
                                $("#alertinfo").hide();
                                $("#alertbad").show();
                            }
                        },
                        error: function() {
                            $("#alertok").hide();
                            $("#btnGoLogin").hide();
                            $("#alertinfo").hide();
                            $("#alertbad").show();
                        },
                        dataType: "json"
                    });
                }
                return false;
            });

            $("#btnLogin").click(function(){
                var user = $('#login_email').val();
                var pass = $('#login_password').val();
                var datosOk = true;
                if (!pass || pass == ""){
                    $("#help-text-login_password").show();
                    $("#help-text-login_email").hide();
                    $("#help-text-error_email").hide();
                    $("#help-text-error_password").hide();
                    datosOk = false;
                }
                if (!user || user == ""){
                    $("#help-text-login_email").show();
                    $("#help-text-login_password").hide();
                    $("#help-text-error_email").hide();
                    $("#help-text-error_password").hide();

                    datosOk = false;
                }
                if (datosOk) {
                    // ajax al server
                    $.ajax({
                        type: "POST",
                        url: "/login",
                        data: {'user': user, 'pass': pass},
                        success: function(data) {
                            if (data.result == 'ok') {
                                location.href = '/';
                            }
                            if (data.result == 'error_email'){
                                $("#help-text-error_email").show();
                                $("#help-text-error_password").hide();
                                $("#help-text-login_password").hide();
                                $("#help-text-login_email").hide();
                            }
                            if (data.result == 'error_password'){
                                $("#help-text-error_password").show();
                                $("#help-text-error_email").hide();
                                $("#help-text-login_password").hide();
                                $("#help-text-login_email").hide();
                            }

                        },
                        error: function() {
                        },
                        dataType: "json"
                    });
                }
            });

        });

    </script>

</head>

<body>

<header id="masthead" class="row">
    <div id="topbar-wrap">
        <div class="container">
            <p class="marB0 left">
                <a href="/" style="font-size: 17px; color: #fff; font-family: NellaSueDEMO-2, cursive">ENLIVEN</a>
            </p>
            <div class="right">
                <ul class="social left">
                    {% if not user.is_anonymous %}
                        <li><a href="#">{{ user.username }}</a></li>
                        <li><a href="/reservas"><i class="fa fa-shopping-bag"></i> Reservas</a></li>
                        <li><a href="/salir"><i class="fa fa-sign-out"></i> Salir</a></li>
                    {% else %}
                        <li><a href="/register"><i class="fa fa-user"></i> Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>
<!-- //Masthead -->

<!-- Container -->
<div class="container" style="padding-top: 80px; padding-bottom: 50px">
    <!-- Page Content -->
    <div class="content col span_12">
        <div class="section secondary-section">
            <div class="container">
                <div class="span10">

                    <form class="login" id="form_login" autocomplete="off">
{#                        <p>#}
{#                            If you have shopped with us before, please enter your user and password in the boxes below.#}
{#                            If you are a new customer please proceed to Register section.#}
{#                        </p>#}
                        <p>
                            Si ha reservado antes con nosotros, por favor ingrese su usuario y contrase&ntilde;a en el formulario.
                            Si es un usuario nuevo, por favor proceda a registrarse en la secci&oacute;n Registro.
                        </p>
                        <p class="form-row form-row-first">
                            <label for="login_email">Correo <span class="required">*</span></label>
                            <input type="text" class="input-text" name="login_email" id="login_email" />
                            <span id="help-text-login_email" style="color: red; display: none">Campo obligatorio</span>
                            <span id="help-text-error_email" style="color: red; display: none">Correo no existe</span>
                        </p>
                        <p class="form-row form-row-last">
                            <label for="login_password">Contrase&ntilde;a <span class="required">*</span></label>
                            <input class="input-text" type="password" name="login_password" id="login_password" />
                            <span id="help-text-login_password" style="color: red; display: none">Campo obligatorio</span>
                            <span id="help-text-error_password" style="color: red; display: none">Contrase&ntilde;a incorrecta</span>
                        </p>
                        <div class="clear"></div>

                        <p class="form-row">
                            <a class="btn btn-success" id="btnLogin"><i class="fa fa-sign-in"></i> Login</a>
                            <a href="/lost_password" style="margin-left: 0.5em">Olvid&oacute; su contrase&ntilde;a?</a>
                        </p>
                        <p><a href="#" id="btnFormRegister"><i class="fa fa-arrow-down"></i> Registro</a></p>
                        <div class="clear"></div>
                    </form>

                    <form class="login" id="form_register" style="display: none" autocomplete="off">
                        <h4>Datos de Registro</h4>
                        <hr/>
                        <p class="form-row form-row-first">
                            <label for="register_email">Email <span class="required">*</span></label>
                            <input type="text" class="input-text" name="register_email" id="register_email" />
                            <span id="help-text-register_email" style="color: red; display: none">Campo obligatorio</span>
                        </p>
                        <p class="form-row form-row-last">
                            <label for="register_password">Password <span class="required">*</span></label>
                            <input class="input-text" type="password" name="register_password" id="register_password" />
                            <span id="help-text-register_password" style="color: red; display: none">Campo obligatorio</span>
                        </p>
                        <div class="clear"></div>
                        <p class="form-row form-row-first">
                            <label for="username">Tel. M&oacute;vil</label>
                            <input type="text" class="input-text" name="celular" id="celular" />
                        </p>
                        <p class="form-row form-row-last">
                            <label for="username">Tel. Convencional</label>
                            <input type="text" class="input-text" name="convencional" id="convencional" />
                        </p>
                        <p class="form-row">
                            <a class="btn btn-success" id="btnRegister"><i class="fa fa-check"></i> Registrar</a>
                            <a href="#" class="btn btn-warning" id="btnGoLogin" style="margin-left: 0.5em; display: none"><i class="fa fa-sign-in"></i> Ir al Login</a>
                        </p>
                        <div id="alertok" class="alert alert-success" style="display: none">Se ha registrado con &eacute;xito en nuestra web con el email (usuario): <span id="span_email" style="font-weight: bold">gnavarrog1802@gmail.com</span></div>
                        <div id="alertinfo" class="alert alert-info" style="display: none">
                            <span>INFORMACION: </span>
                            EnLiven le informa que con sus mismos datos de registro, usted podr&aacute; acceder al software de gesti&oacute;n de EnLiven, <br/>
                            y consultar productos, servicios e historial de atenciones o tratamientos que haya recibido como cliente en nuestra entidad.
                            <br/><br/>Gracias por preferirnos. Estamos para ayudarle a vivir mejor.
                            <span style="font-family: 'Monotype Corsiva'; font-weight: bold; float: right">ENLIVEN</span>
                        </div>
                        <div id="alertbad" class="alert alert-danger" style="display: none">Ha ocurrido un error al guardar los datos. Intente mas tarde.</div>
                        <div class="clear"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>
<!-- //Container -->

<!-- Clear -->
<div class="clear"></div>

<!-- Footer -->
<div class="footer">
    <div id="topbar-wrap">
        <div class="container">
            <p class="marB0 left">© 2016 Enliven. Todos los derechos reservados</p>
            <div class="right">
                <ul class="social left">
                    <li class="facebook"><a href="{{ datosempresa.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
{#                    <li class="twitter"><a href="{{ datosempresa.twitter }}"><i class="fa fa-twitter"></i></a></li>#}
{#                    <li class="linkedin"><a href="{{ datosempresa.linkedin }}"><i class="fa fa-linkedin"></i></a></li>#}
{#                    <li class="google"><a href="{{ datosempresa.googleplus }}"><i class="fa fa-google-plus"></i></a></li>#}
                    <li class="google"><a href="{{ datosempresa.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <div class="contact-phone right">{{ datosempresa.celular }}</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>      <!-- //Footer -->

</body>
</html>